html{
    font-size: 62.5% !important;
}
ul,h1,h2,h3,h4,h5,h6,section,div,main{
 margin: 0;
}
body{
    font-size: 1.4rem !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.clear{
    clear: both;
}
/* header styles*/
#header{
    width: 100%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: linear-gradient(left,#000, rgba(245, 245, 245, 0.3));
}
#header #logo-name{
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    padding: 1rem;
}
#header #logo-name h1{
    font-weight: bold;
    margin-left: 1rem;
    color:#ddd;
   
}
#header nav{
    width: 66%;
    float: right;
    box-sizing: border-box;
    padding: 1rem;
}
#header nav ul{
    list-style: none;
    padding-top: 1rem;
}
#header nav ul li{
    display: inline;
}
#header nav ul li a{
    text-decoration: none;
    color: #ddd;
    font-size: 1.8rem !important;
    font-weight: bold;
    margin-left: 1rem;
    padding: 0.5rem;
}
#header nav ul li a:hover{
    text-decoration: none;
    color: #ddd;
    border-bottom: 0.1rem solid #ddd;
    font-size: 1.8rem !important;
    font-weight: bold;
    margin-left: 1rem;
    padding: 0.5rem;
}

/*showcase styles*/
#showcase{
    height: 100vh;
    width: auto;
    background-image: url("../images/nightlight.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*download button style*/
#download-resume{
    padding:1rem;
}
#download-resume a{
    display: block;
}
#download-resume button{
    background-color: #ddd;
    border: 0.1rem solid #ddd;
    padding:1rem;
    font-weight: bold;
    border-radius: 0.5rem;
}
/*contact pane styles*/

#contact-pane{
    width: 10rem;
    height: auto;
    padding:1rem;
    position: fixed;
    top: 20rem;
    left: 3rem;
    background-color:rgba(32, 31, 31, 0.25);
    border-radius: 5rem 0;
    
}
#contact-pane h4{
    color:#ddd;
    padding: 0.5rem;
    text-align: left;
    text-decoration: underline;
}
#contact-pane a{
    display: block;
    margin: 0.5rem 3rem;
    color:#ddd;
    padding: 0.5rem;
    border-bottom: 0.1rem solid #ddd;
    text-align: center;
}
#contact-pane a i{
    font-size:2.1rem !important;
}

/*about section styles*/
#about{
    height: 100vh;
    width: auto;
}
#about #intro-info{
    margin: 3rem ;
    padding: 0.5rem;
    text-align: center;
}
#about #intro-info h2{
    text-decoration: underline;
    font-weight: bolder;
    padding: 0.2rem;
}
#about #intro-info small{
    font-weight: bold;
}
#about #information{
    width: 100%;
    margin: auto;
}
#about #information .information-tab{
    float:left;
    width: 31%;
    box-sizing: border-box;
    margin: 0.5rem;
    border: 0.1rem solid #000;
    border-radius: 1rem 0;
    background-color: rgba(0,0,0,0.5);
}
#about #information .information-tab h3{
    text-align: center;
    font-weight: bold;
    padding: 0.2rem;
    text-decoration: underline;
}
#about #information .information-tab .tab-info{
    padding: 0.5rem;
    text-align: left;
}
#about #information .information-tab .tab-info dl dt{
    font-weight: bold;
}
#about #information .information-tab .tab-info .exdet{
    display: none;
}

@media (max-width:645px){
    #header #logo-name{
        width: 100%;
        clear: both;
    }
    #header nav{
        width:80%;
        margin: auto;
        clear: both;
    }
    
}